[submodule "interface/sc-web"]
	path = interface/sc-web
	url = https://github.com/ostis-ai/sc-web.git
[submodule "knowledge-base/ims.ostis.kb"]
	path = knowledge-base/ims.ostis.kb
	url = https://github.com/ostis-ai/ims.ostis.kb.git
